<div class="container">
  <div class="row">
    <h1>Editing Card</h1>
    <div class="col-lg-12">

      <%= render 'form' %>

      <%= link_to 'Show', @card %> |
      <%= link_to 'Back', cards_path %>
    </div>
  </div>
</div>
