.badge.badge-correct-answers {
  background-color: green !important;
}

.badge.badge-errors {
  background-color: red !important;
}

.iconcolor-error {color:red;}
.iconcolor-right {color:green;}

.search {
  display: inline !important;
  width: 94%;
}
